In [1]:
import pandas as pd
df = pd.read_csv("./dataset/orders.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185013 entries, 0 to 185012
Data columns (total 9 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Customer ID                        185013 non-null  int64
 1   Customer Status                    185013 non-null  object
 2   Date Order was placed              185013 non-null  object
 3   Delivery Date                      185013 non-null  object
 4   Order ID                           185013 non-null  int64
 5   Product ID                         185013 non-null  int64
 6   Quantity Ordered                   185013 non-null  int64
 7   Total Retail Price for This Order  185013 non-null  float64
 8   Cost Price Per Unit                185013 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 12.7+ MB

In [9]:
df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185013 entries, 0 to 185012
Data columns (total 9 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Customer ID                        185013 non-null  int64
 1   Customer Status                    185013 non-null  object
 2   Date Order was placed              185013 non-null  object
 3   Delivery Date                      185013 non-null  object
 4   Order ID                           185013 non-null  int64
 5   Product ID                         185013 non-null  int64
 6   Quantity Ordered                   185013 non-null  int64
 7   Total Retail Price for This Order  185013 non-null  float64
 8   Cost Price Per Unit                185013 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 12.7+ MB

In [31]:
df = df.rename(columns={'Date Order was placed': 'created_at'})
df = df.rename(columns={'Order ID': 'id'})
df = df.rename(columns={'Quantity Ordered': 'quantity'})
df = df.rename(columns={'Total Retail Price for This Order': 'total_price_order'})
df = df.rename(columns={'Delivery Date': 'delivery_date'})

In [40]:
a = df.iloc[0]['id']

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="mysqluser",
  password="mysqlpw",
  database="shops"
)

print(mydb.database)

shops

In [53]:
from datetime import datetime
sql = "INSERT INTO orders (id,created_at,quantity,total_price_order,delivery_date) VALUES (%s, %s, %s, %s, %s)"
batch = []
mycursor = mydb.cursor()

for i in range (0,10):
    if len(batch) >= 5:
        print(batch)
        mycursor.executemany(sql, batch)
        mydb.commit()
        print(mycursor.rowcount, "was inserted.")
        batch = []

    id = df.iloc[i]['id']
    created_at = df.iloc[i]['created_at']
    quantity = df.iloc[i]['quantity']
    total_price = df.iloc[i]['total_price_order']
    delivery_date = df.iloc[i]['delivery_date']
    # format datetime
    created_at = datetime.strptime(created_at, '%d-%b-%y')
    delivery_date = datetime.strptime(delivery_date, '%d-%b-%y')
    row = (str(id.item()),created_at,quantity.item(),total_price.item(),delivery_date)
    batch.append(row)

[('123002578', datetime.datetime(2017, 1, 1, 0, 0), 2, 92.6, datetime.datetime(2017, 1, 7, 0, 0)), ('123004074', datetime.datetime(2017, 1, 1, 0, 0), 1, 21.7, datetime.datetime(2017, 1, 5, 0, 0)), ('123000871', datetime.datetime(2017, 1, 1, 0, 0), 1, 1.7, datetime.datetime(2017, 1, 4, 0, 0)), ('123002851', datetime.datetime(2017, 1, 1, 0, 0), 1, 47.9, datetime.datetime(2017, 1, 6, 0, 0)), ('123003607', datetime.datetime(2017, 1, 1, 0, 0), 1, 36.9, datetime.datetime(2017, 1, 4, 0, 0))]
5 was inserted.